@model ExpanseReportManager.Models.TvaViewModels

@{
    ViewBag.Title = "Details";
}

<h2>Détails de la TVA @Model.Name</h2>

<div class="details">
    <div class="row">
        <div class="col col-md-offset-1 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">TVA</h3>
                </div>
                <div class="panel-body">
                    <b>@Html.DisplayNameFor(model => model.Name) :</b> @Html.DisplayFor(model => model.Name) <br />
                    <b>@Html.DisplayNameFor(model => model.Value) :</b> @Html.DisplayFor(model => model.Value) <br />
                </div>
            </div>
        </div>
    </div>

    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.TVA_ID }, new { @class = "btn btn-primary btn-sm" }) |
        @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-primary btn-sm" })
    </p>
</div>
