@model IEnumerable<ExpanseReportManager.Models.ProjectViewModels>

@if (Model.Any())
    {

        <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @string.Format("{0:C}", item.Budget)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.Project_ID }, new { @class = "btn btn-primary btn-xs" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Project_ID }, new { @class = "btn btn-primary btn-xs" }) |
                <button type="button" class="modal-delete btn btn-primary btn-xs" data-toogle="modal" data-target="#modalDelete_@Html.DisplayFor(modelItem => item.Project_ID)">Supprimer</button>
            </td>
        </tr>
}

    </table>
    foreach (var item in Model)
    {
        <div class="modal" id="modalDelete_@Html.DisplayFor(modelItem => item.Project_ID)">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Suppression project</h4>
                    </div>
                    <div class="modal-body">
                        Voulez-vous vraiment supprimer le projet @Html.DisplayFor(modelItem => item.Name) ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        @Html.ActionLink("Valider", "Delete", new { id = item.Project_ID }, new { @class = "btn btn-raised btn-success btn-xs" })
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-dismissible alert-warning">
        <h4>Désolé!</h4>
        <p>
            Aucun client n'a été trouvé :(
        </p>
    </div>
}



